<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user}"></title>
</head>
<body>

<form th:action="@{'/logout'}">
    <input type="submit" value="Logout"/>
</form>

<table>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Role</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr>
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstname}"></td>
        <td th:text="${user.lastname}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.email}"></td>
        <td th:each="role : ${user.getRoles()}">
            <span th:text="${role.getName().substring(5)}"></span>
        </td>
        <td><a th:href="@{/admin/user-update/{id}(id=${user.id})}">Изменить</a></td>
        <td><a th:href="@{/admin/user-delete/{id}(id=${user.id})}">Удалить</a></td>
    </tr>
</table>
</body>
</html>