<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user}"></title>
</head>
<body>

<form th:action="@{'/logout'}">
    <input type="submit" value="Logout"/>
</form>

<form th:method="POST" th:action="@{/admin/user-update}" th:object="${user}">
    <label for="id">ID: </label>
    <input readonly type="number" th:field="*{id}" id="id"/>
    <br>
    <label for="name">Имя: </label>
    <input type="text" th:field="*{email}" id="name"/>
    <br>
    <br>
    <input type="submit" value="Сохранить изменения">
</form>
</body>
</html>