<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user}"></title>
</head>
<body>

<form th:action="@{'/logout'}">
    <input type="submit" value="Logout"/>
</form>

<table>
    <tr>
        <th>ID</th>
        <th>Имя</th>
    </tr>
    <tr>
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td><a th:href="@{/admin/user-update/{id}(id=${user.id})}">Изменить</a></td>
        <td><a th:href="@{/admin/user-delete/{id}(id=${user.id})}">Удалить</a></td>
    </tr>
</table>
</body>
</html>