<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user}"></title>
</head>
<body>

<form th:action="@{'/logout'}">
    <input type="submit" value="Logout"/>
</form>

<form th:method="POST" th:action="@{/admin/user-update}" th:object="${user}">
    <label for="id">First name</label>
    <input readonly type="number" th:field="*{id}" id="id"/>
    <br>
    <label for="firstname">First name</label>
    <input type="text" th:field="*{firstname}" id="firstname" required/>
    <br>
    <label for="lastname">Last name</label>
    <input type="text" th:field="*{lastname}" id="lastname" required/>
    <br>
    <label for="age">Age</label>
    <input type="number" th:field="*{age}" id="age" min="0" oninput="validity.valid||(value='');" required/>
    <br>
    <label for="email">Email</label>
    <input type="email" th:field="*{email}" id="email" required/>
    <br>
    <label for="password">Password</label>
    <input type="password" th:field="*{password}" id="password" required/>
    <br>
    <label>
        <select size="3" multiple="multiple" name="roles" id="roles">
            <option disabled>Roles:</option>
            <option selected value="1">USER</option>
            <option value="2">ADMIN</option>
        </select>
    </label>
    <br>
    <input type="submit" value="Сохранить изменения">
</form>
</body>
</html>